* {
  margin: 0;
  padding: 0;
}
ul,
li,
ol {
  list-style: none;
}
.nav-section {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.nav-section img {
  width: 120px;
}
.menu_list {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px;
}
.menu_list ul {
  display: flex;
  gap: 20px;
  justify-content: center;
  font-weight: 500;
}

.login-button {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
  gap: 20px;
  align-items: center;
}

.input {
  position: absolute;
  right: 10vw;
  border-bottom: 2px solid #333;
}
.input input {
  border: none;
  outline: none;
  margin-left: 5px;
}

.productCard {
  margin: 0 5px;
}
.productCard div {
  height: 40px;
}
.productCard img {
  width: 100%;
  transition: 0.3s;
}

.productCard:hover img {
  transform: scale(1.2);
}
.productCard .title {
  font-weight: bold;
}

.productCard .imgW {
  overflow: hidden;
  height: auto;
}

.productCard .choice {
  height: auto;
}


.product-img img{
  display: block;
  margin-left: auto;
}

.product-desc{
  padding-left: 10vw !important;
  box-sizing: border-box;
}

.product-desc div{
  margin-bottom: 20px;
}

.product-title{
  padding-top: 20px;
  font-weight: 700;
}